<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ROOM_ID = "<%= roomId %>";
        const userop = "<%= userOh.name %>";
        console.log(userop);
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/script3.js" defer></script>
    <script src="https://kit.fontawesome.com/9d72c98f2c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/roomhome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="main">
    <div class ="main__left">
    <div class="main__left__top">
    <div class="main__left__top__1">
    <div class="details">
    <h3><%=roomop.name%></h3>
    <h4>Team Id &#160 : <%=roomop._id%></h4>
    <h4>Password : <%=roomop.password%></h4>
    Share your team id and password with your friends to let them join the room.
    <hr>
    </div>
    <div class="op-list">
    <div class="options">
    <span> <a href="/<%=roomId%>"><i class="fas fa-video"></i> Start a Video Call</a></span>
    </div>
    <div class="options">
        <span> <a href="/"><i class="fas fa-home"></i> Go back to home page</a></span>
        </div>
    <div onclick = "getChatop(1)" class="main__controls__button options">
        <i class="fas fa-user-friends"></i>
        <span>Members</span>
    </div>
    <div onclick = "getChatop(0)" class="main__controls__button options">
            <i class="fas fa-comment-alt"></i>
            <span>Chat</span>
    </div>
    </div>
    </div>
    <br>
    
     <div class="main__left__top_2">
        <div class="main__header">
            <h4>Posts</h4>
        </div>
     
      <div id="posts-list-container">
          <ul>
              <% for(post of posts){ %>
                  
               <li id="post-<%= post._id %>" class="posts_each">
                  <p>
                      <% if (locals.user && (userop == post.user.id)){ %>
                      <small>
                          <a class="delete-post-button"  href="/posts/destroy/<%= post.id %>"><i class="far fa-trash-alt"></i></a>
                      </small>
                      <% } %>
                      <%= post.content %>
                      <br>
                      <small>
                          By: <%= post.user.name %>
                      </small>
                  </p>
                  
                  <div class="post-comments">
                      <% if (locals.user){ %>
                          <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
                          <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
                              <input type="text" name="content" placeholder="Type Here to add comment..." required>
                              <input type="hidden" name="post" value="<%= post._id %>" >
                              <input type="submit" value="Add Comment">
                          </form>
              
                      <% } %>
              
                      <div class="post-comments-list">
                          <ul id="post-comments-<%= post._id %>">
                              <% for (comment of post.comments){%>
              
                                 <li id="comment-<%= comment._id %>">
                                    <p>
                                        <% if (locals.user && userop == comment.user.id){ %>
                                        
                                        <small>
                                            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>"><i class="far fa-trash-alt"></i>
                                                </a>
                                        </small>
                                        <% } %>
                                        <%= comment.content %>
                                        <br>
                                        <small>
                                            <%= comment.user.name %>
                                        </small>
                                    </p>    
                            
                            </li>
                                  
                              
                              <%} %>
                          </ul>
                      </div>
                  </div>
                  
              </li>
                  
              <%} %>
          </ul>
        </div>
      </div>
      </div>
      <div class="main__controls">
      <% if(locals.user){ %>
      <form action="/posts/create" id="new-post-form" method="POST">
          <textarea name="content" cols="30" rows="3" placeholder="Type Here to Post..." width=100px; required></textarea>
          <input type="hidden" name="room" value="<%= roomId %>" >
          <input type="submit" id="post" value="Post">
      </form>
      <% } %>
    </div>

    </div>

    <div class="main__right" id="r1">
        <div class="main__header">
            <h4>Chat</h4>
        </div>
        <div class="main__chat__window">
            <ul class="messages" id="msgs">

            </ul>
        </div>
        <div class="main__message__container">
            <input id="chat_message" type="text" placeholder="Type message here...">
        </div>
       
 </div>
 <div class="main__right" id="r2">
    Members <br>
    <div class="Teams-list">
        <ul id="Teams">
                <% for (user of users){%>
                   <li>
                     <a href="/users/profile/<%= user._id%>"><%= user.name %> </a>
                   </li> 
               <%} %>
        </ul>
    </div>
    </div>
     </div>
  </section>
</body>
</html>