<link rel="stylesheet" href="/css/user_profile.css">
<h1 style="color: white;">
    Gamespace | <%= title %>
</h1>
<% if(profile_user != undefined){ %>
<%if(profile_user.avatar){ %>
    <img src="<%= profile_user.avatar %>" alt="<%= user.name %>" width="100">
    <% } %>

<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>

    <% } %>
    

